/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  /* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
  /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

  .main-area {
    position: relative;
    height: 100vh;
  }

  /* ---------------------------------
	3. RIGHT SECTION
	--------------------------------- */

  .right-section {
    float: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .right-section .main-content {
    padding: 40px 0;
  }

  /* ---------------------------------
	4. LEFT SECTION
	--------------------------------- */

  .left-section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

  p {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.8em;
    line-height: 1;
  }
  h2 {
    font-size: 2.2em;
    line-height: 1.1;
  }
  h3 {
    font-size: 1.8em;
  }
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
  /* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

  body {
    font-size: 13px;
  }

  /* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

  .right-section {
    padding: 0 30px;
  }
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
}
